<server description="kubernetes-thermometer-probe">

    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>jdbc-4.3</feature>
        <feature>ssl-1.0</feature>
    </featureManager>

    <variable name="PGHOST" defaultValue="prod-postgres-rw"/>
    <variable name="PGPORT" defaultValue="5432"/>
    <variable name="PGDATABASE" defaultValue="sdr433"/>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443" host="*"/>

    <keyStore id="defaultKeyStore" password="${env.KEYSTORE_PASSWORD}"/>

    <ssl id="defaultSSLConfig" keyStoreRef="defaultKeyStore" trustDefaultCerts="true"/>

    <library id="postgresJDBCLib">
        <fileset dir="${server.config.dir}/resources/postgresql" includes="*.jar"/>
    </library>
    
    <jdbcDriver id="postgresDriver" libraryRef="postgresJDBCLib"/>

    <dataSource id="sdr433DS" jndiName="jdbc/sdr433DS" jdbcDriverRef="postgresDriver">
        <properties.postgresql
            serverName="${env.PGHOST}"
            portNumber="${env.PGPORT}"
            databaseName="${env.PGDATABASE}"
            user="${env.POSTGRES_USER}"
            password="${env.POSTGRES_PASSWORD}"/>
    </dataSource>

    <webApplication id="probe" location="probe.war" contextRoot="/"/>

</server>
